* {
    margin: 0;
    padding: 0;
}

.box-row {
    display: flex;
    justify-content: space-evenly;
}

.box-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box {
    margin: 5vh;
    background-color: #c7f5f5;
    border-radius: 10px;
    border: 2px solid #2138ad;
}