.tab{
    color: black;
}

.tab:hover{
    color: royalblue;
}

.contentPane {
    width: 100%;
    max-width: 95vw;
    min-width: 95vw;
}

@media (max-width: 515px) {
    .contentPane {
        width: 95%;
    }
}

@media (min-width: 1247px) {
    .contentPane {
        width: 100%;
        max-width: 500px;
        min-width: 500px;
    }
}

